/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #f5f5f5;
}

/* Layout principal */
.home-page {
  display: flex;
  flex-direction: row;
  height: 90vh;
}


/* Área do SVG centralizado */
.svg-container {
  flex: 1; /* Ocupa o espaço restante ao lado do menu */
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  background: #f5f5f5; /* Cor de fundo opcional */
  height: 100%; /* Garante que ocupe toda a altura disponível */
}

.svg-icon {
  width: 150px; /* Ajuste o tamanho do SVG conforme necessário */
  height: 150px;
}

